@import "./utils/fonts.scss";
@import "./utils/colors.scss";

.bold {
    font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.button {
    outline: none;
    border: none;
    background: none;
}

input::-webkit-input-placeholder { color: $placeholder-color; }
input:-ms-input-placeholder { color: $placeholder-color; }
input::-ms-input-placeholder { color: $placeholder-color; }
input::placeholder { color: $placeholder-color; }

.uploader {
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    max-width: 537px;
    margin: 100px auto 0;
    &__label {
        display: block;
        margin-bottom: 8px;
        color: $placeholder-color;
        .bold {
            color: $font-color;
            display: inline-block;
            margin-right: 12px;
        }
    }
    &__group {
        padding: 8px;
        border: 1px dashed $border-color;
        border-radius: 6px;
    }

}

@media(max-width: 576px) {
    .uploader {
        &__label {
            span {
                display: block;
            }
        }
        &__group {
            padding: 8px 8px 6px 8px;
        }
    }
}